name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file simple-app-py/Dockerfile --tag ${{variables.DOCKER_HUB_USERNAME}}/simpleapp-py:$(date +%s)
    - name: Push image to Dockerhub
      run: | docker login -u ${{variables.DOCKER_HUB_USERNAME}} -p ${{secrets.DOCKER_HUB_TOKEN}}
      docker push ${{variables.DOCKER_HUB_USERNAME}}/simpleapp-py:$(date +%s)
      
