name: Docker Image CI

on:
  push:
    paths:
      - 'simple-app-py/Dockerfile'
      - 'simple-app-py/*.py'
  pull_request:
    paths:
      - 'simple-app-py/Dockerfile'
      - 'simple-app-py/*.py'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set current date variable
      run: echo "BUILD_DATE=$(date +%s)" >> $GITHUB_ENV
    - name: Build the Docker image
      run: docker build . --file simple-app-py/Dockerfile --tag ${{ vars.DOCKER_HUB_USERNAME}}/simpleapp-py:${{ env.BUILD_DATE }}
    - name: Push image to Dockerhub
      run: | 
       docker login -u ${{ vars.DOCKER_HUB_USERNAME}} -p ${{ secrets.DOCKER_HUB_TOKEN }}
       docker push ${{ vars.DOCKER_HUB_USERNAME}}/simpleapp-py:${{ env.BUILD_DATE }}
      
